section.contact {
  margin: 100px auto;
}

section.contact h1 {
  color: #005ba1;
  text-align: center;
}

section.contact p.subtitle {
  color: #363636;
  text-align: center;
  font-size: 16px;
  margin-top: 16px;
}

section.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 30px auto 0;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 43px -13px rgba(0,0,0,0.75);
}

section.contact form .form-group{
  width: 80%;
}

section.contact form button {
  background-color: #005ba1;
  color: #fff;
  display: block;
  padding: 14px 24px;
  border: 2px solid  #005ba1;
  border-radius: 6px;
  transition: 400ms;
  width: 80%;
  margin-top: 30px;
  font-size: 18px;
}

section.contact form button:hover {
  background-color: white;
  border: 2px solid  #005ba1;
  color:  #005ba1;
}
